body{
    background-color: rgb(34, 34, 34);
    
}

#root{
    width: 100%;
    height: 100%;
}

#login_div{
    margin-top: 200px;
    display:flex;
    justify-content:center;
}
#login_form{
    padding: 10px;
    border: solid white;

}

.login_label{
    color: white;
}

.login_field{
    margin-left: 10px;
    margin-right: 10px;
}