body{
    background-color: rgb(34, 34, 34);
    
}

.text{
    color: white;
}


#root{
    width: 100%;
    height: 100%;
}

#login_div{
    margin-top: 200px;
    display:flex;
    justify-content:center;
}
#login_form{
    padding: 10px;
    border: solid white;

}

.login_label{
    color: white;
}

.login_field{
    margin-left: 10px;
    margin-right: 10px;
}

#title{
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

#titlebar{
    border-bottom: 3px solid #8b8171;
}

#main_panel{
    margin-top: 50px;
    border: 1px solid #8b8171;
    height: 80%;
    margin-left: 2%;
    margin-right: 2%;

}

#menu_div{
    align-self: center;
    margin-top: 10%;
    height: 60%;
    margin-left: 4%;
    margin-right: 4%;


}

.widget{
    display: inline-block;
    width: 150px;
    height: 125px;
    margin: 10px;
    border: 1px solid #8b8171;

}

.widget_img{

}
.widget_textbox{
    text-align: center;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;

}

.widget_text{
    text-align: center;
    font-size:15;
    color: white;
    pointer-events: none;

}