:root {
    --main-bg: rgb(34, 34, 34);
    --text-color: white;
    --accent-color: #8b8171;
    --main-fonts: system-ui, sans-serif, 'Open Sans', Geneva, Verdana;
}

body{
    background-color: var(--main-bg);
    font-family: var(--main-fonts);
    color: var(--text-color);
}

#root{
    width: 100%;
    height: 100%;
}

#login_div{
    margin-top: 200px;
    display:flex;
    justify-content:center;
}

#login_form{
    padding: 10px;
    border: solid white;
}

.login_field{
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}

.titlebar{
    border-bottom: 3px solid var(--accent-color);
}

.main_panel{
    margin-top: 50px;
    border: 1px solid var(--accent-color);
    height: 80%;
    margin-left: 2%;
    margin-right: 2%;

}

.menu_div{
    align-self: center;
    margin-top: 10%;
    height: 60%;
    margin-left: 4%;
    margin-right: 4%;


}

.widget{
    display: inline-block;
    width: 150px;
    height: 125px;
    margin: 10px;
    border: 1px solid var(--accent-color);
}

.widget_img{

}
.widget_textbox{
    text-align: center;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

.widget_text{
    text-align: center;
    font-size:15;
    pointer-events: none;
}

.returnButton{
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 0px;
    width: 80px;
    height: 30px;

}

.menutitle{
    /*text-align: center;*/
    margin: 0px;
    margin-left: 10px;
}

.menutitlebar{
    display: flex;
    border-bottom: 3px solid var(--accent-color);
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    
}

.info_row{
    margin-top: 10px;
    display: flex;
    border: 1px solid var(--accent-color)
}

.info_row_title{
    margin-left: 50px;
    margin-right:50px;
}

.info_row_title_text{
    font-weight: 700;
}

.info_row_value{

}
.info_row_value_text{
    
}
